<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.graduation.dao.TFoodsMapper">
  <resultMap id="BaseResultMap" type="com.example.graduation.pojo.TFoods">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="businesses_id" jdbcType="INTEGER" property="businessesId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="oldPrice" jdbcType="DOUBLE" property="oldprice" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="sellCount" jdbcType="INTEGER" property="sellcount" />
    <result column="rating" jdbcType="DOUBLE" property="rating" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="image" jdbcType="VARCHAR" property="image" />
  </resultMap>
</mapper>